// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Cormorant:400,600,700|Indie+Flower&amp;subset=latin-ext");

// Define fonts for body and headers
$body-font:  'Courier', 'Montserrat',"Open Sans", "Helvetica", "sans-serif";
$headers-font: 'Indie Flower',"Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$my-green: #32B796;
$my-yellow: #EAC100;
$my-beige: #F8F1D0;
$my-red: #CF1B1B;
$my-blue: #0E6B9A;
