// Specific CSS for your home-page
.sugesstions {
  margin-top: -40px;
}

.card {
  height: 250px;
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  text-shadow: 0 3px 3px rgba(0,0,0,1);
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  text-shadow: 0 3px 3px rgba(0,0,0,1);
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card:hover{
  opacity: 0.9;
}
.card-photo {
  height: 200px;
  width:100%;
  background-size: cover;
  border-radius: 3px;
}
.card-hotel{
  border: 1px solid rgba(0,0,0,0.4);
  margin-bottom: 20px;
  padding: 30px;
  height: 250px;
  background: white;
  h2 {
    color: #004080;
  }
  h3 {
    color: green;
    font-size: 15px;
  }
}
.card-hotel:hover {
  border: 3px solid #004080;
}

.dry-hair {
  background-image: image-url("affro.jpeg");
}

.hair-fall {
  background-image: image-url("hair-fall.png");
}

.oily {
  background-image: image-url("oily.jpg");
}

