.user-title-container {
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  //#32B796
}

.user-title {
  text-align: right;
}

.recipe-title {
  margin: 1rem 0 .75rem;
  // font-size: 50px;
  font-size: 5.775rem;
  line-height: 28px;
  font-weight: bolder;
  font-style: courier;
}

.ratings {
  padding-bottom: 15px;
  padding-top: 35px;
}

.btn-user {
  padding : 10px;
  border-radius: 20px;
  color: darkgrey;
  border: solid 1px;
    a {
      color: darkgrey;
      text-decoration: none;
      font-weight: bolder;

    }
}
.link-user {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
}


.ingredient-content {
  background: white;
  border-radius: 10px;
  padding: 15px 40px;
}

.description-content {
  background: white;
  border-radius: 10px;
  padding: 15px 40px;
}
.actions {
  padding: 8px;
  margin: 5px;
  background-color: lightgrey;
    li {
      padding: 0px 40px ;
      margin: 0px 38px;
      color: white;
      font-weight: 350px;
    }
}

.recipe-summary {
  margin-top: 10px;
  padding-top: 15px;
}

.recipe-summary {
  display: flex;
}

.carousel-inner {
  .item {
    img {
      max-width: 100%;
      height: 100%;
    }
  }
}


.general-info {
  padding-left: 15px;
  margin-left: 30px;
  li {
      padding: 15px 15px ;
      margin: 5px 20px;
    }
}

.yellow {
  color: orange;
}

.grey {
  color: lightgrey;
}
