.container-content {
  margin-top: 70px;

}


.recipe-title {
  text-align: center;
  margin: 1rem 0 .75rem;
  // font-size: 50px;
  font-size: 2.375rem;
  line-height: 28px;
  font-weight: bolder;
  font-style: courier;
}

.actions {
  padding: 8px;
  margin: 5px;
  background-color: lightgrey;
    li {
      padding: 0px 40px ;
      margin: 0px 20px;
    }
}

.recipe-summary {
  margin-top: 10px;
  padding-top: 15px;
}

.recipe-summary {
  display: flex;
}

.tag {
  border-radius: 3px;
  border: 2px solid #efefef;
  color: #8a98b1;
  display: inline;
  padding: 2px 4px;
  font-size: 1.2571rem;
  font-weight: 600;
}

// .tag-content {
//   background-color: beige;
// }

.ratings {
  text-align: center;
}


.general-info {
  padding-left: 15px;
  li {
      padding: 5px 10px ;
      margin: 5px 20px;
    }
}

#effect {
  padding : 10px;
  border-radius: 8px;
  background-color: orange;
}
