 <div class="card">
  <div class="card-description">
     <h3><%= @user.username %></h3>
      <p>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </p>
    </div>
     <div class="avatar">
    <% if current_user.photo != nil %>
    <img class="card-user" <%= cl_image_tag current_user.photo, crop: :fill %>>
      <% end %>
    </div>

  </div>
