<% unless @recipe.recipe_photos.empty? %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="photo item active" style="height: 280px">
      <%= image_tag(@recipe.recipe_photos.first.photo_url) %>
      <%= @recipe.purpose %>
    </div>
    <% @recipe.recipe_photos.drop(1).each do |recipe_photo| %>
    <div class="photo item" style="height: 280px">
      <%= image_tag(recipe_photo.photo_url) %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
