
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-pinterest"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
    <%= link_to t(".sign_in", default: "Login as mod "), new_moderator_session_path,class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
