<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner" >
  <div class="banner-content">
    <%= form_tag recipes_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a recipe"
    %>
    <%= submit_tag("Search", class: "btn btn-success", id: "search") %>
    <% end %>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="sugesstions container">
  </br>
    <h2 class="text-center">Discover our suggestions</h2>
    <div class="row ">
      <div class="col-xs-12 col-sm-4">
        <div class="card dry-hair">
          <div class="card-category"></div>
          <div class="card-description">
            <h3>For dry hair</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card hair-fall"">
          <div class="card-category">-</div>
          <div class="card-description">
            <h3>Falling hair</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card oily">
          <div class="card-category">-</div>
          <div class="card-description">
            <h3>Oily skin</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


