<h1 class="text-center">My BeautyBook</h1>
<div class="container">
  <h3 class="text-center"> Hello, <%=@current_user.username %></h3>
  <div class="row">
    <div class="col-xs-9 col-sm-07">
      <%= render 'users/shared/user' %>
      <%= link_to "Update my profile", edit_user_registration_path(@user), class: "btn btn-lg" %>
    </div>
    <div class="col-xs-2 col-sm-3">
      <%= link_to "Submit recipe", new_recipe_path, class: "btn btn-lg" %>
    </div>
  </div>

  <h2 class="text-center">My Board</h2>
  <div class="col-xs-12 col-sm-08">
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>12</h3>
        <p>contacts</p>
      </a>
      <a class="tab" href="#">
        <h3>456</h3>
        <p>Following</p>
      </a>
      <a class="tab" href="#">
        <h3>13</h3>
        <p>Submitted recipes</p>
      </a>
    </div>
  </div>

  <div class="wrapper-grey padded">
    <div class="sugesstions container">
      <div class="row ">
        <div class="col-xs-12 col-sm-4">
          <div class="card saved">
            <div class="card-category"></div>
              <div class="card-description">
              <h3>My saved recipes</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card my-recipes">
            <div class="card-category">-</div>
            <div class="card-description">
            <h3>My Beauty recipes</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card my-groups">
            <div class="card-category">-</div>
            <div class="card-description">
            <h3>My Beauty groups</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






