.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 18px;
  color: white;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-photos {
  height: 100%;
  width:100%;
  background-size: cover;
  border-radius: 3px;
}
.card-edit {
  position: absolute;
  top: 42%;
  left: 42%;
  display: none;
}
.card-recipe{
  position: relative;
  margin-bottom: 20px;
  padding: 30px;
  height: 250px;
  background: white;
  h2 {
    color: black;
    font-weight: 600;
    font-size: 25px;
  }
  h3 {
    color: #004080;
    font-size: 15px;
  }
}
.card-recipe:hover {
  h2 {
    color: orange;
  }
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.card-pending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 30px;
  height: 50px;
  background: white;
  h2 {
    color: black;
    font-weight: 600;
    font-size: 25px;
  }
  h3 {
    color: #004080;
    font-size: 15px;
  }
}
.card-pending:hover {
  h2 {
    color: orange;
  }
}
