.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card:hover{
  opacity: 0.9;
}
.card-photo {
  height: 200px;
  width:100%;
  background-size: cover;
  border-radius: 3px;
}
.card-recipe{
  margin-bottom: 20px;
  padding: 30px;
  height: 250px;
  background: white;
  h2 {
    color: black;
    font-weight: 600;
    font-size: 25px;
  }
  h3 {
    color: #004080;
    font-size: 15px;
  }
}
.card-recipe:hover {
  h2 {
    color: orange;
  }
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
