.tag-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tag-choice {
  background: #b7b7b7;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 22%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $brand-success;
  color: white;
  opacity: 1;
  }
}
