.container-recipe {
  background-color: white;
  width: 75%;
  padding-right: 40px;
  padding-left: 40px;
  margin: 24px auto 0 auto;
  position: relative;
}

#query {
  width: 500px;
  border-radius: 10px;
  margin-right: 0;
}

#search {
  margin-left: 0;
  border-radius: 10px;
}


.gone {
  display: none;
}

.container-filters {
  background-color: #fcee97;
  border: 1px solid rgba(0,0,0,0.4);
  width: 75%;
  padding-right: 40px;
  padding-left: 40px;
  padding: 20px;
  margin: 24px auto 24px auto;
  display: none;
  line-height: 2;
  position: relative;
}

.container-content {
  margin: 0 auto;
  width: 100%;
}

.fat {
  position: absolute;
  right: 10px;
  top: 10px;
}
#search-filter {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
