.container-login {
  background: white;
  padding: 20px;
  
  border-radius: 5px;
  h2 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}
.container-ingredients-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5px;
  h2 {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}