.tag {
  border-radius: 3px;
  border: 2px solid #efefef;
  color: #8a98b1;
  display: inline;
  padding: 2px 6px;
  font-size: 1.2571rem;
  font-weight: 600;
  padding : 10px;
  border-radius: 8px;
}

#feature {

  background-color: orange;
}
